## Ques 1(a): Solve following using Numpy:

- Add, multiply and divide following seqence:  a=[[1,2],[3,4]]  , b = [[34,67] , [45,66]]

In [4]:
import pandas as pd
cp = pd.read_excel(r"CompanyDetails.xlsx")
cp.head()

,ID,Name,Industry,Year Founded,Employees,State,City,Zip Code
0,1,"3 Round Stones, Inc.",Data/Technology,2010.0,4000,DC,Washington,20004.0
1,2,48 Factoring Inc.,Finance & Investment,2014.0,198,PA,Philadelphia,19087.0
2,3,5PSolutions,Data/Technology,2007.0,4500,VA,Fairfax,22003.0
3,4,Abt Associates,Research & Consulting,1965.0,4958,MA,Cambridge,2138.0
4,5,Accela,Governance,1999.0,900,CA,San Ramon,94583.0

Q1- ## Analyze given data set using Key Python Libraries (Company Details)
- Check data shape 
- Describe data
- Check for null values and drop null values or replace it
- Drop colums that you find unnecessary
- Generate Visualization report for this data

## Create Visualization for following : 
- What is revenue distribution for Bekins in 2005 
- What is the growth% for Data/Technology in 2006
- What is the Revenue distribution for Education in 2005
- What is number of companies in Each industry 
- Draw a correlation plot to check on feature realtionship.

## Ques 2: Use Diabetic data Set to evaluate accuracy using:

1- Logostis regression
2- KNN
3- SVM

## Ques 3- Use Digits data set to evaluate digits prediction using Tensorflow Keras