
## Python For Data Science 

- Python is one of the most popular languages used by Data Scientists. Python has in-built mathematical libraries and functions, making it easier to calculate mathematical functions.


## Data Containers in Python
1. Strings 2. Lists 3. Tuples 4. Dictionary

## Variable in Python

In [11]:
type(2-4j)

complex

In [25]:
#Varible Declaratipon
# Enter Emp ID and Name

Emp_ID= 1234
a_1=123
NAME= "ASHI"
A=23.4
_s=9

3

## Operations on Numbers

In [23]:
2+3*5

17

In [24]:
x=2

#2x2+4x-9

2*(x*x)+4*x-9

7

In [ ]:
##Variable Declaration
a=9
A=5
A_1=9

a**2

In [ ]:
#Quick Practice

Declare a varible x =7 and solve following equation using Python: 

## What is the output for (4x3+3x2+5x+5)?

## Print Function

In [27]:
print(2+3)
print(4+5)
print(3*4)

5
9
12

In [28]:
"hello"
"i AM SUAYSHI"

'i AM SUAYSHI'

In [34]:
print(2+3,4+5,3*4,sep=",")

5,9,12

In [35]:
x=6
print("Total number of partcipants =",x)

Total number of partcipants = 6

## Type Conversion: Convert  variable into another type e.g int to float

In [37]:
float(2)

2.0

In [38]:
int(9.8)

9

In [44]:
type("32")
type("1a")
type("aa")

int("32")
#int("1a")
float("32")

32.0

## Input

In [50]:
Name = input("Enter your Name: ") ##Strings
Age = int(input("Enter Age:")) ## 
Height = float(input("Enter Height:"))

Enter your Name: A
Enter Age:32
Enter Height:23

## Link : https://jupyter.org/try-jupyter/lab/

## Quick Pratice: 
1.    Create python Script to input following details about your products:

- Number of Products (30)
- Name of Products Category (3*10)
- Cost per Unit 
- Total Cost Price

solun
a=int(input("no of product "))
b=input("Name of Products Category ")
c=float(input("Cost per Unit "))

Total_CP=a*c

print("Total Cost Price = ",Total_CP )

## Strings

In [52]:
x="a"
Y="ABCD"
C="Data Science"
len(Y)
len(C)

12

In [68]:
x=1234
Y="1234  "

len(Y)

6

In [ ]:
##Functions and methods in strings
len(Y)
len(C)

Y[1] #Index
Y[-3]

Y[2:4] #Slicing

##Y[4]="E" #Immutable 
##del Y[0]
del Y

In [72]:
x="abc"
a="82154"

#print(min(a),max(a))
print(min(x),max(x))

a c

In [86]:
C="Ms Suyashi Raiwani"
d=C.split(" ")
d

['Ms', 'Suyashi', 'Raiwani']

In [82]:
print(C+C)#3- Concadination

print(3*C) #- Repeat

Ms Suyashi RaiwaniMs Suyashi Raiwani
Ms Suyashi RaiwaniMs Suyashi RaiwaniMs Suyashi Raiwani

## Quick Practice:

Write a python script to open a railway ticket booking portal and enter following details from users :
- 1-Name
- 2-last Name
- 3-Age
- 4-Gender
- 5-Boarding Point 
- 6-destination

In [ ]:
## Solution

## String Functions and Methods

In [90]:
x="abc123"
x.isspace()

False

x.isalnum()
x.isalpha()
x.isascii()
x.isdecimal()
x.isspace()
x.join("a")

In [ ]:
x.isspace()

In [ ]:
x.isalpha()

if (con):
   

    if(con):
        if(con):
            ----
        else(*)
    else
    
elseif 

else:

## If else condition

In [96]:
a=0
b="ab"

if a>80:
    print("I am happy")
    if b=="ab"
       print("correct username")
    else:
        print("Inavlid username")
    
if a==0:
    print("I am Neutral")
    
else:
    print("Not Happy")

I am Neutral

In [110]:
b=input("Your name please")
## %s-string, %d - int, %f-float
a=int(input("Enter your Age:"))
if a>=18:
    print("Welcome and sign in to this portal")
    name=input("Create UserName:")
    if len(name)>=5:
        pwd=input("Create Password:")
    else:
        print("User Name does not met the criteria")
else:
    print("%s your age i.e %d is not valid to use this portal"%(b,a))

Your name pleaseAshi
Enter your Age:12
Ashi your age i.e 12 is not valid to use this portal

Quick Parctice:
1. Write a python script to open a railway ticket booking portal and enter following details from users :
2. Ask for Sign in with UserName, Password (Greater than 5), Age > 16

3. Login for booking 
UserName and Pwd 


1-Name 
2-last Name  
3-Age
4-Gender
5-Boarding Point
6-destination

### Quick Pratice:
- Create python Script to input following details about your products:
- Number of Products (30)
- Name of Products Category (3*10)
- Cost per Unit
- Total Cost Price

In [ ]:


# Input details for 30 products
num_products = 30

# Define details for each product
product_details = {
    f"Product_{i+1}": {
        "Name": input(f"Enter name for Product {i+1}: "),
        "Category": input(f"Enter category for Product {i+1}: "),
        "Cost per Unit": float(input(f"Enter cost per unit for Product {i+1}: ")),
        "Total Cost Price": lambda cost_per_unit, quantity=1: cost_per_unit * quantity
    }
    for i in range(num_products)
}

# Display entered product details
for key, details in product_details.items():
    cost_per_unit = details["Cost per Unit"]
    details["Total Cost Price"] = details["Total Cost Price"](cost_per_unit)  # Calculate total cost
    print(f"\nDetails for {key}:")
    print(f"Name: {details['Name']}")
    print(f"Category: {details['Category']}")
    print(f"Cost per Unit: {cost_per_unit}")
    print(f"Total Cost Price: {details['Total Cost Price']}")

In [ ]:
## If else:

Name= input("Enter UserName")
Age=int(input("Age Please"))

if len(Name) >=5:
    print("Valid UserName\t:")
    if Age>15:
        print("You can Proceed with booking")
    else:
        print("Your Booking Not allowed")
else:
    print("Please check userName Criteria")

In [ ]:
x=range(1,10)
x

In [ ]:
x=list(range(1,10,3) )#start,stop-1,interval
x

## Quick Practice: 
- Please create a user name of length 6 if user name is valid then  create a password of length 7, if pwd is valid then print("Welcome to homepage")

- Write a program that performs addition, subtraction, multiplication, or division based on user input. Prompt the user to enter two numbers and an operation (+, -, *, /). Perform the calculation and print the result.

In [ ]:
## Please create a user name of length 6, create a password of lenghth 7 

user=input("Create user name for minimum 6 lenghth:")

if len(user) >= 6:
    print("Valid user name")
else:
    print("Ops! User name not created invalid format")

In [ ]:
## Loops
for i in range(0,3):
    user=input("Enter your name:")

In [ ]:
for i in "ash":
     user=input("Enter your name:\t")

## Ques 2: 
Input create a password  with following critera:
1. Min len 3 and 10
2. Should contain one number 
3. Should contain upper case member
4. Should not have a space
5. Shoukd have one special charactor sp=["@","?","*","$","&","^",#.!]

In [ ]:
## Atleast one number 
d=0
s=0
u=0
sp=["@","?","*","$"]

user=input("Create user name for minimum 6 lenghth:")

for i in user:
    if i.isdigit():
        d=d+1
    if i.isspace():
        s=s+1
    if i.isupper():
        u=u+1
    else:
        pass
if d>0 and s==0:
    pass
else:
    print("Opps !! you have not added a digit to username or included a space")
if u>0:
    print("Valid User name")
else:
    print("Opps !! you have not added a uppercase ")

In [ ]:
s="poor"
#3s[4]=s
#del s[1]
del s

s= "this is first session for data Science"

#s.split(" ")
s.index("f")

#### List

In [ ]:
##a=[],[[]],[[[]]]

a=[1,1,2]
b=[1,2.1,"a"]
c=[[1,12],[21,3]]

In [ ]:
a.append(5)
a
del a[0]

In [ ]:
a.insert(2,3)

In [ ]:
a

In [ ]:
len(a)
max(a)
min(a)

In [ ]:
## Tuples 
b=(1,2,3)
#b.append(4)

##del b[2]
## tuples also does nit support item addition or deletion.

In [ ]:
del b

## Dictionary 
- Mapping data types 
- Key value pairs 
- key are index to members for dictionary
- Keys are unique with one value for one key
- Duplicate Key creation is not possible

In [ ]:
d={}
d={"A":"red","B":"Blue"}

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
d["C"] ="green"

In [ ]:
del d[C]

In [ ]:
d

In [ ]:
del d['C']

In [ ]:
d

In [ ]:
d={1:"a",2:"b"}
d

In [ ]:
d[1]="a"
d

In [ ]:
## User Input List
x=[]
n=int(input("Enter number of members" ))
for i in range (0,n):
    m=int(input("Add list member\t:"))
    x.append(m)
print(x)

In [ ]:
#### user input Diction
d={}
n=int(input("Enter number of members"))
for i in range (0,n):
    a=input("Enter Key Name")
    d[a]=b
    b=input("Enter VALUE Name")
print(d)

## Quick Practice 3 : 
- Create a list with all float values
- Create a dictionary with Emp ID as Key and Names as Values

#Create a dict emp ID as key and names as values
emp_data={}
n=int(input("Enter number of employees"))
for i in range (0,n):
    Emp_id=input("Enter Emp ID")
    Name = input("Enter Name")
    d[Emp_id]=Name
print(d)

In [ ]:
## Create a dic named Emp_details with Emp ID as Keys and job roels as values.
"A101, B101"

## Loops

In [ ]:
for i in range (0,5):
    input("Enter Emp name\t: ")