
## Python For Data Science 

- Python is one of the most popular languages used by Data Scientists. Python has in-built mathematical libraries and functions, making it easier to calculate mathematical functions.


## Data Containers in Python
1. Strings 2. Lists 3. Tuples 4. Dictionary

## Variable in Python

In [10]:
A=8
b=10

In [13]:
type(-2.0900000)
type(2+6j)

complex

## Operations on Numbers

In [14]:
2+2,2*2,2/2,3//2,3**3

(4, 4, 1.0, 1, 27)

In [15]:
x=2

#2x2+4x-9

2*(x*x)+4*x-9

7

In [18]:
##Variable Declaration
a=9
A=5
A_1=9

a**2

81

In [ ]:
#Quick Practice

## What is the output for (4x3+3x2+5x+5)?

## Type Coversions

In [20]:
## Varibles declaration
print(int(12.6))
print(float(3))
print("Hi how are you")
print(2+3,4-6,2**3)

12
3.0
Hi how are you

In [23]:
print(2+3,4-6,2**3,sep=",")

5,-2,8

In [24]:
x=6
print("Total number of partcipants:",x)

Total number of partcipants: 6

In [28]:
Name = input("Name:")
Age=input("Age")
Name+Age
type(Name)

Name:12
Age23

str

In [30]:
##Input 
Name=input("Name: ")
Age=int(input("Age: "))
Weight=float(input("Height: "))

Name: Ashi
Age: 23
Height: 12.4

## Link : https://jupyter.org/try-jupyter/lab/

## Quick Pratice: 
1.    Create python Script to input following details about your products:

- Number of Products (30)
- Name of Products Category (3*10)
- Cost per Unit 
- Total Cost Price

solun
a=int(input("no of product "))
b=input("Name of Products Category ")
c=float(input("Cost per Unit "))

Total_CP=a*c

print("Total Cost Price = ",Total_CP )

## Strings

In [33]:
x="a"
Y="ABCD"
C="Data Science"

In [47]:
##Functions and methods in strings
len(Y)
len(C)

Y[1] #Index
Y[-3]

Y[2:4] #Slicing

##Y[4]="E" #Immutable 
##del Y[0]
del Y

In [53]:
x="ashi29"
a="82154"

print(min(a),max(a))
print(min(x),max(x))

2 s

In [54]:
C="Data is important."
C.split(" ")

['Data', 'is', 'important.']

In [55]:
name=input("Enter your Name :")

Enter your Name :Data

In [57]:
C+C #3- Concadination
3*C #- Repeat

'Data is important.Data is important.Data is important.'

## Quick Practice:

Write a python script to open a railway ticket booking portal and enter following details from users :
- 1-Name
- 2-last Name
- 3-Age
- 4-Gender
- 5-Boarding Point 
- 6-destination

In [ ]:
## Solution

## String Functions and Methods

In [66]:
x=" "
x.isalpha()
x.isspace()

True

z=x.encode()
x.isalnum()
x.isalpha()
x.isascii()
x.isdecimal()
x.isspace()
x.join("a")

In [ ]:
x.isspace()

In [ ]:
x.isalpha()

if (con):
    if(con):
        if(con):
            ----
        else(*)
    else
else

## If else condition

In [69]:
a=int(input("Enter your Age:"))
if a>=18:
    print("Welcome and sign in to this portal")
    name=input("UserName:")
    if len(name)>=5:
        pwd=input("Create Password:")
    else:
        print("User Name does not met the criteria")
else:
    print("Opps! your age is not valid to use this portal")

Enter your Age:21
Welcome and sign in to this portal
UserName:Ashirai
Create Password:ashi1234

Quick Parctice:
1. Write a python script to open a railway ticket booking portal and enter following details from users :
2. Ask for Sign in with UserName, Password (Greater than 5), Age > 16

3. Login for booking 
UserName and Pwd 


1-Name 
2-last Name  
3-Age
4-Gender
5-Boarding Point
6-destination

In [ ]:
## If else:

Name= input("Enter UserName")
Age=int(input("Age Please"))

if len(Name) >=5:
    print("Valid UserName\t:")
    if Age>15:
        print("You can Proceed with booking")
    else:
        print("Your Booking Not allowed")
else:
    print("Please check userName Criteria")

In [70]:
x=range(1,10)
x

range(1, 10)

In [73]:
x=list(range(1,10,3) )#start,stop-1,interval
x

[1, 4, 7]

## Quick Practice: 
- Please create a user name of length 6 if user name is valid then  create a password of length 7, if pwd is valid then print("Welcome to homepage")

- Write a program that performs addition, subtraction, multiplication, or division based on user input. Prompt the user to enter two numbers and an operation (+, -, *, /). Perform the calculation and print the result.

In [ ]:
## Please create a user name of length 6, create a password of lenghth 7 

user=input("Create user name for minimum 6 lenghth:")

if len(user) >= 6:
    print("Valid user name")
else:
    print("Ops! User name not created invalid format")

In [75]:
## Loops
for i in range(0,3):
    user=input("Enter your name:")

Enter your name:1
Enter your name:2
Enter your name:3

In [ ]:
for i in "ash":
     user=input("Enter your name:\t")

## Ques 2: 
Input create a password  with following critera:
1. Min len 3 and 10
2. Should contain one number 
3. Should contain upper case member
4. Should not have a space
5. Shoukd have one special charactor sp=["@","?","*","$","&","^",#.!]

In [77]:
## Atleast one number 
d=0
s=0
u=0
sp=["@","?","*","$"]

user=input("Create user name for minimum 6 lenghth:")

for i in user:
    if i.isdigit():
        d=d+1
    if i.isspace():
        s=s+1
    if i.isupper():
        u=u+1
    else:
        pass
if d>0 and s==0:
    pass
else:
    print("Opps !! you have not added a digit to username or included a space")
if u>0:
    print("Valid User name")
else:
    print("Opps !! you have not added a uppercase ")

Create user name for minimum 6 lenghth:ashi1234
Opps !! you have not added a uppercase

In [ ]:
s="poor"
#3s[4]=s
#del s[1]
del s

s= "this is first session for data Science"

#s.split(" ")
s.index("f")

#### List

In [81]:
##a=[],[[]],[[[]]]

a=[1,1,2]
b=[1,2.1,"a"]
c=[[1,12],[21,3]]

In [85]:
a.append(5)
a
del a[0]

In [89]:
a.insert(2,3)

In [90]:
a

[1, 2, 3, 9, 2, 4, 5, 5]

In [93]:
len(a)
max(a)
min(a)

1

In [97]:
## Tuples 
b=(1,2,3)
#b.append(4)

##del b[2]
## tuples also does nit support item addition or deletion.

TypeError: 'tuple' object doesn't support item deletion

In [98]:
del b

## Dictionary 
- Mapping data types 
- Key value pairs 
- key are index to members for dictionary
- Keys are unique with one value for one key
- Duplicate Key creation is not possible

In [99]:
d={}
d={"A":"red","B":"Blue"}

In [100]:
d.keys()

dict_keys(['A', 'B'])

In [101]:
d.values()

dict_values(['red', 'Blue'])

In [106]:
d["C"] ="green"

In [111]:
del d[C]

In [112]:
d

{'A': 'red', 'B': 'Blue', 'C': 'green'}

In [113]:
del d['C']

In [114]:
d

{'A': 'red', 'B': 'Blue'}

In [116]:
d={1:"a",2:"b"}
d

{1: 'a', 2: 'b'}

In [119]:
d[1]="a"
d

{1: 'a', 2: 'b'}

In [1]:
## User Input List
x=[]
n=int(input("Enter number of members" ))
for i in range (0,n):
    m=int(input("Add list member\t:"))
    x.append(m)
print(x)

Enter number of members2
Add list member	:1
Add list member	:2
[1, 2]

In [4]:
#### user input Diction
d={}
n=int(input("Enter number of members"))
for i in range (0,n):
    a=input("Enter Key Name")
    d[a]=b
    b=input("Enter VALUE Name")
print(d)

Enter number of members3
Enter Key NameA
Enter VALUE NameB
Enter Key NameC
Enter VALUE Name1
Enter Key Name2
Enter VALUE Name3
{'A': 'c', 'C': 'B', '2': '1'}

## Quick Practice 3 : 
- Create a list with all float values
- Create a dictionary with Emp ID as Key and Names as Values

#Create a dict emp ID as key and names as values
emp_data={}
n=int(input("Enter number of employees"))
for i in range (0,n):
    Emp_id=input("Enter Emp ID")
    Name = input("Enter Name")
    d[Emp_id]=Name
print(d)

In [ ]:
## Create a dic named Emp_details with Emp ID as Keys and job roels as values.
"A101, B101"

## Loops

In [ ]:
for i in range (0,5):
    input("Enter Emp name\t: ")